.Editor form {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 40px;
  /* background-color: aliceblue; */
}

.Editor button {
  margin: 1rem 0.5rem;
  cursor: pointer;
}

label,
input {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
